 


	<%=image_tag("Thirtene.png", class: "img-fluid")%>

<div class="card-group">
    
    <div class="card">
       
        <div class="card-body">
           <%=image_tag"restore.jpeg" %> 
     
           <div class="btn btn-primary">Restore</div>
        </div>
    </div>
   <div class="card">
       
        <div class="card-body">
           <%=image_tag"buy.jpeg" %> 
     
           <div class="btn btn-primary">Buy</div>
        </div>
    </div>

    <div class="card">
       
        <div class="card-body">
           <%=image_tag"blog.jpeg" %> 
      
           <div class="btn btn-primary">Blog</div>
        </div>
    </div>
</div>

       
       

