@import "~bootstrap/scss/bootstrap";

body {
	
	background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
	text-align: center;
}

.img-fluid {
	text-align: center;
	max-width: 50%;
	height: auto;
}